<div class="container">
    <h4>Add a New Author:</h4>
    <form (submit)="onSubmit()">
        <label>Name: 
        <div *ngIf = "error">
            <span class="text-danger">Name must be at least 3 characters long.</span>
        </div></label>
        <input class="form-control" type="text" name="newAuthor.name" [(ngModel)]="newAuthor.name">
        <input type="submit" value="Submit" class="btn btn-primary mt-3">
        <button type="button" class="btn btn-info mt-3 ml-3" [routerLink]="['/main']">Cancel</button>
    </form>
</div>
